altgraph==0.15
chardet==3.0.4
dis3==0.1.2
docutils==0.14
ebs==0.1.dev0
future==0.16.0
idna==2.6
Kivy==1.10.0
kivy.deps.glew==0.1.9
kivy.deps.sdl2==0.1.17
macholib==1.9
pefile==2017.11.5
plyer==1.2.4
Pygments==2.7.4
PyInstaller==3.3.1
pypiwin32==223
pywin32==223
requests==2.20.0
urllib3==1.24.2
wincertstore==0.2
infi.systray==0.1.11
